@font-face {
    font-family: 'Minecraft';
    src: url('./assets/fonts/MinecraftBold-nMK1.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./assets/fonts/MinecraftBoldItalic-1y1e.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./assets/fonts/MinecraftItalic-R8Mo.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./assets/fonts/MinecraftRegular-Bmg3.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center
}

.subtitle {
    text-align: center
}

body {
    font-family: 'Minecraft', sans-serif;
}

p {
    font-weight: 400;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

strong em {
    font-weight: 700;
    font-style: italic;
}

.header-icon {
    image-rendering: pixelated;
    width:14px;
    height:14px;
}

.page {
    color: #f5f9fa;
    background-image: url('assets/backgrounds/polished_oak_planks.png');
    background-size: 44px 44px;
    image-rendering: pixelated;
    background-color: #070e0f;
}

.page::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.page > * {
    position: relative;
}

.logo {
    display: block;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    transition: filter 0.15s ease;
}

.logo img:hover {
    filter: brightness(0.8);
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    image-rendering: pixelated;
    background-color: #30525c;
    padding-right: 2%;
    user-select: none;
}

.nav-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav-links li {
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.rounded-rect {
    background-color: #000000aa;
    border-radius: 8px;
    padding: 8px;
    color: #f5f9fa;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.rounded-rect:hover {
    background-color: #000000cc;
}

.section-header {
    text-align: left;
    padding-left: 10%;
}

.submods-grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 767px) {
    .section-header {
        padding-left: 5%;
    }

    .submods-grid {
        grid-template-columns: repeat(3, 2fr);
        gap: 12px;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 412px) {
    .section-header {
        padding-left: 2%;
    }

    .submods-grid {
        grid-template-columns: repeat(2, 2fr);
        gap: 8px;
        padding-left: 2%;
        padding-right: 2%;
    }
}

.card {
    display: block;
    position: relative;
    user-select: none;
    transition: transform 0.3s ease, filter 0.15s ease;
}

.card:hover {
    transform: scale(1.05);
    filter: brightness(1.25);
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}

.card-content {
    position: absolute;
    bottom: 2%;
    width: 98%;
    color: #f5f9fa;
    background-color: #000000aa;
    padding-left: 2%;
}

.card-content h3 {
    margin: 0;
}
